@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ExamEAP.EmployeeSerivce.Employee[] employee = (ExamEAP.EmployeeSerivce.Employee[])ViewBag.data;
}


<table class="table">
    <thead>
        <tr>
            <th>
                StudentID
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in employee)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                
            </tr>
        }
    </tbody>

</table>












